.md-logo img {
    width: 68px !important;
    height: 24px !important;
}

:root {

  /* Default color shades */
  --md-default-fg-color:               rgb(11,33,57);
  --md-default-fg-color--light:        rgb(11,33,57,0.8);
  --md-default-fg-color--lighter:      rgb(11,33,57,0.5);
  --md-default-fg-color--lightest:     rgb(11,33,57,0.1);
/*
  --md-default-bg-color:               rgb(255,255,255);
  --md-default-bg-color--light:        rgb(255,255,255);
  --md-default-bg-color--lighter:      rgb(255,255,255);
  --md-default-bg-color--lightest:     rgb(255,255,255);
*/

  /* Primary color shades */
  --md-primary-fg-color:               rgb(0,143,184);
  --md-primary-fg-color--light:        rgb(35,171,227);
  --md-primary-fg-color--dark:         rgb(11,33,57);
  /*
  --md-primary-bg-color:               rgb(255,255,255);
  --md-primary-bg-color--light:        rgb(255,255,255);
 */

  /* Accent color shades */
  
  --md-accent-fg-color:                rgb(248,150,29);
  --md-accent-fg-color--transparent:   rgb(248,150,29,0.25);

  --md-accent-bg-color:                rgb(210,227,235);
  --md-accent-bg-color--light:         rgb(210,227,235,0.5);


  /* Code block color shades */
  --md-code-bg-color:                  rgb(210,227,235,0.3);
  --md-code-fg-color:                  rgb(11,33,57);
}

.md-footer-social {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* siteimprove accessibility tweaks */
.md-nav__link.md-nav__link--active {
    font-weight: bold;
}	

